@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red-color: #fa1f19;
  --yellow-color: #fcdd60;
  --blue-color: #9ac7e8;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--blue-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--red-color);
  height: 100vh;
  width: 100%;
}

.loading {
  @apply justify-center;
}

.search {
  @apply flex flex-wrap justify-center content-center;
}

.search img {
  @apply basis-2/3;
}

.search input {
  @apply bg-white border border-gray-500 rounded-sm text-sm p-2.5 w-1/2 mt-10;
}

.search button {
  @apply bg-white w-20 p-2.5 border-none rounded-sm text-sm ml-4 mt-10;
}

.results {
  @apply grid grid-cols-4 content-center pl-14 mt-20 gap-2;
}

.character-card {
  @apply w-72 h-80 bg-white border-none mb-8 overflow-hidden shadow-2xl;
}

.character-header {
  @apply grid grid-cols-1 justify-items-center;
}

.character-header h1 {
  @apply font-semibold;
}

.character-header img {
  @apply w-40 h-72;
}
