@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcdd60;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card-container {
  @apply grid grid-cols-4 gap-2;
}

.card {
  @apply rounded-lg shadow-xl bg-white m-4
    overflow-hidden;
  cursor: "pointer";
  position: relative;
}

.card img {
  @apply h-60 w-full object-contain pt-4;
}

.card h1 {
  @apply text-xl font-extrabold text-center p-2;
}

.card-inner {
  @apply text-center;
}

.is-flipped {
  transform: rotateY(180deg);
  overflow: hidden;
}

.navbar {
  @apply grid grid-cols-4 justify-items-start content-center bg-red-600 h-16 text-2xl drop-shadow-lg;
}

.navbar > {
  @apply hover:text-white;
}
